USE [master]
GO
/****** Object:  Database [dp_Churn]    Script Date: 11-07-2026 21:30:09 ******/
CREATE DATABASE [dp_Churn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dp_Churn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\dp_Churn.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dp_Churn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\dp_Churn_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dp_Churn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dp_Churn]
GO
/****** Object:  Table [dbo].[prod_Churn]    Script Date: 11-07-2026 21:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prod_Churn](
	[Customer_ID] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[Age] [tinyint] NULL,
	[Married] [varchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Number_of_Referrals] [tinyint] NULL,
	[Tenure_in_Months] [tinyint] NULL,
	[Value_Deal] [nvarchar](50) NOT NULL,
	[Phone_Service] [varchar](50) NULL,
	[Multiple_Lines] [varchar](50) NOT NULL,
	[Internet_Service] [varchar](50) NULL,
	[Internet_Type] [nvarchar](50) NOT NULL,
	[Online_Security] [varchar](50) NOT NULL,
	[Online_Backup] [varchar](50) NOT NULL,
	[Device_Protection_Plan] [varchar](50) NOT NULL,
	[Premium_Support] [varchar](50) NOT NULL,
	[Streaming_TV] [varchar](50) NOT NULL,
	[Streaming_Movies] [varchar](50) NOT NULL,
	[Streaming_Music] [varchar](50) NOT NULL,
	[Unlimited_Data] [varchar](50) NOT NULL,
	[Contract] [nvarchar](50) NULL,
	[Paperless_Billing] [varchar](50) NULL,
	[Payment_Method] [nvarchar](50) NULL,
	[Monthly_Charge] [decimal](18, 10) NULL,
	[Total_Charges] [float] NULL,
	[Total_Refunds] [float] NULL,
	[Total_Extra_Data_Charges] [tinyint] NULL,
	[Total_Long_Distance_Charges] [float] NULL,
	[Total_Revenue] [float] NULL,
	[Customer_Status] [nvarchar](50) NULL,
	[Churn_Category] [nvarchar](50) NOT NULL,
	[Churn_Reason] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ChurnData]    Script Date: 11-07-2026 21:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ChurnData]
AS
SELECT *
FROM prod_Churn
WHERE Customer_Status IN ('Churned', 'Stayed');
GO
/****** Object:  View [dbo].[vw_JoinData]    Script Date: 11-07-2026 21:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_JoinData]
AS
SELECT *
FROM prod_Churn
WHERE Customer_Status = 'Joined';
GO
/****** Object:  Table [dbo].[stg_Churn]    Script Date: 11-07-2026 21:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Churn](
	[Customer_ID] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[Age] [tinyint] NULL,
	[Married] [varchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Number_of_Referrals] [tinyint] NULL,
	[Tenure_in_Months] [tinyint] NULL,
	[Value_Deal] [nvarchar](50) NULL,
	[Phone_Service] [varchar](50) NULL,
	[Multiple_Lines] [varchar](50) NULL,
	[Internet_Service] [varchar](50) NULL,
	[Internet_Type] [nvarchar](50) NULL,
	[Online_Security] [varchar](50) NULL,
	[Online_Backup] [varchar](50) NULL,
	[Device_Protection_Plan] [varchar](50) NULL,
	[Premium_Support] [varchar](50) NULL,
	[Streaming_TV] [varchar](50) NULL,
	[Streaming_Movies] [varchar](50) NULL,
	[Streaming_Music] [varchar](50) NULL,
	[Unlimited_Data] [varchar](50) NULL,
	[Contract] [nvarchar](50) NULL,
	[Paperless_Billing] [varchar](50) NULL,
	[Payment_Method] [nvarchar](50) NULL,
	[Monthly_Charge] [decimal](18, 10) NULL,
	[Total_Charges] [float] NULL,
	[Total_Refunds] [float] NULL,
	[Total_Extra_Data_Charges] [tinyint] NULL,
	[Total_Long_Distance_Charges] [float] NULL,
	[Total_Revenue] [float] NULL,
	[Customer_Status] [nvarchar](50) NULL,
	[Churn_Category] [nvarchar](50) NULL,
	[Churn_Reason] [nvarchar](50) NULL,
 CONSTRAINT [PK_stg_Churn] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
